<nav>
    <b>Test executions</b>
    <div *ngFor="let logexec of testruns" style="text-align: center;">
        <a routerLink="/testrun/{{logexec.testRunTimestamp}}" routerLinkActive="active">
            <div *ngIf="logexec.testStatistic.errors == 0 && logexec.testStatistic.failures == 0 && logexec.testStatistic.tests == 0">
                <button type="button" class="btn btn-warning" style="float: left;">{{logexec.name}}</button>
            </div>
            <div *ngIf="logexec.testStatistic.errors == 0 && logexec.testStatistic.failures == 0 && logexec.testStatistic.tests > 0">
                <button type="button" class="btn btn-success" style="float: left;">{{logexec.name}}</button>
            </div>
            <div *ngIf="logexec.testStatistic.errors > 0 || logexec.testStatistic.failures > 0">
                <button type="button" class="btn btn-danger" style="float: left;">{{logexec.name}}</button>
            </div>
        </a>
        <button type="button" class="btn btn-danger" (click)="deleteTestRun(logexec)">X</button>
    </div>
</nav>
