<h1>Test-Editor execution logs</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="onToggle()">
          Tree view
        </button>
        <testExecList [testruns]="testRuns" [app]='this'> </testExecList>
    </div>
    <div class="col-sm-10">
      <table *ngIf="testStatistic!=null" class="{{resultTableStyle}}" >
        <thead>
            <tr>
              <th class="col-sm-2">Tests: {{testStatistic.tests}}</th>
              <th class="col-sm-2">Errors: {{testStatistic.errors}}</th>
              <th class="col-sm-2">Failures: {{testStatistic.failures}}</th>
            </tr>
          </thead>
      </table>
    </div>
    <div class="col-sm-10">
      <div *ngIf="!useLogGroup">
        {{testRunLog}}
      </div>
      <div *ngIf="useLogGroup">
        <te-log-groups-view [testruns]="logGroups" >
        </te-log-groups-view>
      </div>
    </div>
  </div>
</div>