<nav>
<b>Test executions</b>
    <ul>
        <li *ngFor="let logexec of testruns" (click)="onSelect(logexec)">
            <div *ngIf="logexec.testStatistic.errors == 0 && logexec.testStatistic.failures == 0">
                <button type="button" class="btn btn-success">{{logexec.name}}</button>
            </div>
            <div *ngIf="logexec.testStatistic.errors > 0 || logexec.testStatistic.failures > 0">
                <button type="button" class="btn btn-danger">{{logexec.name}}</button>
            </div>
        </li>
    </ul>
</nav>
