<nav>
    <b>Test executions</b>
    <a *ngFor="let logexec of testruns" routerLink="/testrun/{{logexec.testRunTimestamp}}" routerLinkActive="active">
        <div *ngIf="logexec.testStatistic.errors == 0 && logexec.testStatistic.failures == 0">
            <button type="button" class="btn btn-success">{{logexec.name}}</button>
        </div>
        <div *ngIf="logexec.testStatistic.errors > 0 || logexec.testStatistic.failures > 0">
            <button type="button" class="btn btn-danger">{{logexec.name}}</button>
        </div>
    </a>
</nav>