<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
      	name="Test-Editor"
      	id="org.testeditor"	
      />
      <wizard
            name="Test-Editor Project"
            class="org.testeditor.dsl.common.ui.utils.ExecutableExtensionFactory:org.testeditor.dsl.common.ui.wizards.NewProjectWizard"
            id="org.testeditor.dsl.common.ui.wizards.NewProjectWizard"
            icon="icons/new_project_wiz.png"
            category="org.testeditor"
            project="true">
      </wizard>
      <primaryWizard id="org.testeditor.dsl.common.ui.wizards.NewProjectWizard"/>
   </extension>
</plugin>
