<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="org.testeditor.xmllibrary.model"
            class="org.testeditor.xmllibrary.model.ModelPackage"
            genModel="model/model.xcore"/>
   </extension>

</plugin>
