*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#bin directories
bin/
target/

# Package Files #
# *.jar - don't ingore as target platform shall be checked-in
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#TempFiles
*.*~

# Xtext
plugin.xml_gen
