<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tcl -->
      <package
            uri="http://www.testeditor.org/tcl"
            class="org.testeditor.tcl.TclPackage"
            genModel="model/tcl.xcore"/>
   </extension>

</plugin>
