<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.testeditor.tcl.dsl.ui.tcl_launcher">
      <launcher
            class="org.testeditor.rcp4.tcltestrun.ExecutableExtensionFactory:org.testeditor.rcp4.tcltestrun.TclLauncher">
      </launcher>
   </extension>

</plugin>
