<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.testeditor.tcl.dsl.ui.tcl_launcher">
      <launcher
            class="org.testeditor.rcp4.views.tcltestrun.ExecutableExtensionFactory:org.testeditor.rcp4.views.tcltestrun.TclLauncherUi">
            <LaunchAction class="org.testeditor.rcp4.views.tcltestrun.ExecutableExtensionFactory:org.testeditor.rcp4.views.tcltestrun.TclLauncherAction" name="Run test">
            </LaunchAction>
            <LaunchAction class="org.testeditor.rcp4.views.tcltestrun.ExecutableExtensionFactory:org.testeditor.rcp4.views.tcltestrun.TclParameterLauncherAction" name="Run test ...">
            </LaunchAction>
      </launcher>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            label="Test execution console"
            class="org.testeditor.rcp4.views.tcltestrun.ExecutableExtensionFactory:org.testeditor.rcp4.views.tcltestrun.console.TCLConsoleFactory">
      </consoleFactory>
   </extension>
   <extension
         id="org.testeditor.rcp4.views.tcltestrun.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            category="org.eclipse.ui"
            class="org.testeditor.rcp4.views.tcltestrun.console.TestExecutionLogViewPart"
            icon="icons/console_view.png"
            id="org.testeditor.rcp4.views.tcltestrun.part.testexecutionconsole"
            name="Test Runs View"
            restorable="true">
      </e4view>
   </extension>

</plugin>
