<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         point="org.testeditor.tcl.dsl.ui.tcl_launcher">
      <launcher
            class="org.testeditor.rcp4.views.tcltestrun.ExecutableExtensionFactory:org.testeditor.rcp4.views.tcltestrun.TclLauncherUi">
      </launcher>
   </extension>
	<extension
	      point="org.eclipse.ui.console.consoleFactories">
	   <consoleFactory
	         class="org.testeditor.rcp4.views.tcltestrun.console.TCLConsoleFactory"
	         icon="icons/etool16/my-console.png"
	         label="Test execution console">
	   </consoleFactory>
	</extension>
</plugin>
