<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/test_explorer.gif"
            id="org.testeditor.rcp4.views.ProjectExplorer"
            name="Test Project Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            helpContext="org.eclipse.ui.project_explorer_context"
            viewerId="org.testeditor.rcp4.views.ProjectExplorer">
         <popupMenu
               allowsPlatformContributions="true"
               id="org.testeditor.rcp4.views.ProjectExplorer#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
<!--
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            -->
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.search"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
         <options>
            <property
                  name="org.eclipse.ui.navigator.customizeViewDialogHelpContext"
                  value="org.eclipse.ui.project_explorer_customization_dialog">
            </property>
         </options>
      </viewer>
      
      <viewerContentBinding
            viewerId="org.testeditor.rcp4.views.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.testeditor.rcp4.views.projectexplorer.tests">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
   		    <contentExtension pattern="org.testeditor.projectexplorer.*"/>
         </includes>
      </viewerContentBinding>      
      <viewerActionBinding
            viewerId="org.testeditor.rcp4.views.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         id="org.testeditor.rcp4.views.projectexplorer.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
         <commonFilter
               activeByDefault="true"
               class="org.testeditor.rcp4.views.projectexplorer.HideRootFolderFilter"
               description="Hides all folders, which have no test files."
               id="org.testeditor.projectexplorer.rootFolderFilter"
               name="Exclude non test releated folders"
               visibleInUI="true">
         </commonFilter>         
         <commonFilter
               activeByDefault="true"
               class="org.testeditor.rcp4.views.projectexplorer.NavFilter"
               description="filter all files not of interest for the test writer"
               id="org.testeditor.projectexplorer.commonFilter"
               name="Exclude technical files"
               visibleInUI="true">
         </commonFilter>
       	 <commonWizard
	        		type="new"
					wizardId="org.testeditor.dsl.common.ui.wizards.NewProjectWizard">
				<enablement>
					<or>
						<adapt type="java.lang.Object" />
					</or>
		         </enablement>
  	     </commonWizard>   
       	 <commonWizard
	        		type="new"
					wizardId="org.testeditor.aml.dsl.ui.wizard.NewAmlFileWizard">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IFolder" />
	         			<adapt type="org.eclipse.core.resources.IProject" /> 
	               		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
	               		<adapt type="org.eclipse.jdt.core.IJavaElement" />	
					</or>
		         </enablement>
  	     </commonWizard>   
       	 <commonWizard
	        		type="new"
					wizardId="org.testeditor.tcl.dsl.ui.wizard.NewTclFileWizard">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IFolder" />
	         			<adapt type="org.eclipse.core.resources.IProject" /> 
	               		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
	               		<adapt type="org.eclipse.jdt.core.IJavaElement" />	
					</or>
		         </enablement>
  	     </commonWizard>   
       	 <commonWizard
	        		type="new"
					wizardId="org.testeditor.tcl.dsl.ui.wizard.NewConfigFileWizard">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IFolder" />
	         			<adapt type="org.eclipse.core.resources.IProject" /> 
	               		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
	               		<adapt type="org.eclipse.jdt.core.IJavaElement" />	
					</or>
		         </enablement>
  	     </commonWizard>   
       	 <commonWizard
	        		type="new"
					wizardId="org.testeditor.tsl.dsl.ui.wizard.NewTslFileWizard">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IFolder" />
	         			<adapt type="org.eclipse.core.resources.IProject" /> 
	               		<adapt type="org.eclipse.core.resources.IWorkspaceRoot" />	
	               		<adapt type="org.eclipse.jdt.core.IJavaElement" />	
					</or>
		         </enablement>
  	     </commonWizard>   
       	
         <navigatorContent
	         activeByDefault="true"
	         contentProvider="org.testeditor.rcp4.views.projectexplorer.ProjectExplorerExtensionFactory:org.testeditor.rcp4.views.projectexplorer.TEContentProvider"
	         id="org.testeditor.rcp4.views.projectexplorer.tests"
	         labelProvider="org.testeditor.rcp4.views.projectexplorer.TELabelProvider"
	         name="Test-Editor Tests"
	         priority="higher">
			<triggerPoints>
			   <or>
					<adapt type="org.eclipse.jdt.core.IClasspathEntry" />
					<adapt type="org.eclipse.core.resources.IProject" />	
			   </or>
			</triggerPoints> 
			<possibleChildren>
			   <or>
			      <instanceof value="java.lang.Object" />
			   </or>
			</possibleChildren>
	   </navigatorContent>
   </extension>

</plugin>
