<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="AMLProduct">
         <property
               name="appName"
               value="aml">
         </property>
      </product>
   </extension>
   <extension
         id="aml"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="AML Product">
      </product>
   </extension>

</plugin>
