<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="XMLLibrary"
            id="org.testeditor.xmllibrary.dsl.importer.ui.wizard.sampleCategory">
      </category>
      <wizard
            name="Import XML File"
            icon="icons/sample.gif"
            category="org.testeditor.xmllibrary.dsl.importer.ui.wizard.sampleCategory"
            class="org.testeditor.xmllibrary.dsl.importer.ui.wizard.ImportWizard"
            id="org.testeditor.xmllibrary.dsl.importer.ui.wizard.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>

</plugin>
